<div class="container">
	

	<div ng-show="showAdminLogin" style="text-align:center; height:400px; ">

		<div style="display:inline-block;"class="card v-align" style="width:300px;line-height:300px;">

			<div class="card-content center">
			<div class="animate-fade-in" ng-if="showAdminLogin">
				
					<h4>Admin Login</h4>
				
				
						<input placeholder="Admin" id="admin_name" type="text" class="validate">		
						<input placeholder="Password" id="admin_pw" type="password" class="validate">
		
						<a ng-click="loginAdmin()" class="waves-effect waves-light btn blue">Login</a>
		
				

			</div>

			</div>

		</div>

	</div>
		

	<div ng-if="!showAdminLogin && !hasLoadedAdminPosts" class="row">
		<div class="col s6 offset-s3 center">
			<p style="font-size:1.5em;">Welcome admin, fetching your admin view ...</p>
		</div>
	</div>


	<div ng-if="!showAdminLogin" class="row">
		<div class="col s12">
			<post view="admin" type="question" ng-repeat="post in posts" class="animate-fade-in"></post>
		</div>
	</div>

</div>