<!-- View of the home page -->

<div class="container">

  <div class="divider"></div>
  <div class="section">

    <!-- begin item -->
    <div class="row">
      <!-- categories which we hide on small device -->
       <div class="col m3 hide-on-small-and-down">
          <div class="collection">
            <a href="#!" class="collection-item black-text text-accent-2">Latest<span class="badge">1</span></a>
            <a href="#!" class="collection-item black-text text-accent-2">UTown<span class="new badge green darken-2">4</span></a>
            <a href="#!" class="collection-item black-text text-accent-2">Modules</a>
            <a href="#!" class="collection-item black-text text-accent-2">Parties<span class="badge">14</span></a>
          </div>
      </div>


      <!-- begin feed -->
      <div class="col s12 m9 right" ng-repeat="post in posts">
        <post type="feed-item">
          <div class="card-action">
            Number of answers, votes and stuff <!--TODO: implement feed-item footer -->
          </div>
        </post>
      </div>
    <!-- end item -->
    </div>
  <!-- end section -->
  </div>
<!-- end container -->
</div>
