<!-- View of the home page -->

<div class="container">

    <div class="divider"></div>

    <div class="section">
        <!-- begin item -->
        <div class="row">
            <!-- begin feed -->
            <div class="col s12 m9">
                <post ng-repeat=" post in filteredPosts" type="feed-item">
                    <div class="card-action">
                        Number of answers, votes and stuff <!--TODO: implement feed-item footer -->
                    </div>
                </post>
                <!-- end feed -->
            </div>

            <!-- trending tags which we hide on small device -->
            <div class="col m3 hide-on-small-and-down right">
                <div style="position:fixed; "class="top-tags collection">
                    <trending-box trending-tags="trendingTags"></trending-box>
                </div>
                <!-- end trending tags -->
            </div>

            <!-- end item -->
        </div>
        <!-- end section -->
    </div>
    <!-- end container -->
</div>
