<!-- View of the home page -->

<div class="container">

    <div class="divider"></div>

    <div class="section">
        <!-- begin item -->
        <div class="row">
            <!-- begin feed -->
            <div class="col s12 m9">
                <div ng-repeat="post in filteredPosts" class="animate-fade-in">
                    <post type="feed-item">
                        <!-- fixed footer -->
                        <div class="card-action">
                            <span style="padding-right:15px;"class="grey-text">{{}} Answer<span ng-show="post.answers.length != 1">s</span></span>
                            <a ng-class="{'disabled' : showFooter}" ng-click="toggleFooter()"class="waves-effect waves-light btn blue ">
                                <i class="material-icons">edit</i>
                                <span style="position:relative; bottom:5px;">Answer</span>
                            </a>
                        </div>
                        <wysiwyg-editor editor-id="{{post.id}}" ng-show="showFooter"></wysiwyg-editor>
                    </post>
                </div>
                <!-- end feed -->
            </div>
            <!-- trending tags which we hide on small device -->
            <div class="col m3 hide-on-small-and-down right">
                <div class="top-tags collection">
                    <trending-box trending-tags="trendingTags"></trending-box>
                </div>
                <!-- end trending tags -->
            </div>
            <!-- end item -->
        </div>
        <!-- end section -->
    </div>
    <!-- end container -->
</div>
