<div class="container">
	<div class="section">
		<div class="row">
			<!-- profile card begin -->
			<div class="col s12">
				<div class="card">

					<div style="min-height:100px;"class="card-content">
						<!-- edit button -->
				        <a ng-if="profileId === currentUser.id"style="padding-right:10px;" class="waves-effect waves-light btn red right">
				            <span ng-click="logout()">
				                <i class="material-icons">lock_outline</i>
				                <span ng-if="profileId == currentUser.id" style="position:relative; bottom:5px;">Logout</span>
				            </span>
				        </a>

						<div style="float:left; padding:15px; padding-right:25px;">
					    <label for="file-input">
					         <img style="width:60px; cursor:pointer; height:60px;" ng-src="{{profileImg}}" alt="" class="circle">
					    </label>
							
						</div>
						<span class="card-title">{{user.first_name}} {{user.last_name}}</span>
						<br/>
						<!-- karma -->
						<span style="font-size:1.1em;line-height:20px;font-size:1.1em;"class="grey-text">New User</span>
			            <!-- <p style="font-size:0.9em; line-height:25px;">Bacon ipsum dolor amet capicola meatball sausage pork chop chuck, prosciutto strip steak shoulder tail meatloaf. Turducken jerky leberkas, kielbasa porchetta pork pork loin swine. Boudin pork chop hamburger pork belly shoulder. Chuck hamburger jerky ham bresaola. Ball tip kielbasa salami short loin meatloaf tri-tip turkey bacon pastrami. Jowl sirloin tail shoulder jerky chuck, shankle pork pork chop tongue porchetta meatloaf.</p> -->

			          

			            <hr/>
			            <!-- involved tags -->
			            <!-- <b>Involved in</b> -->
			            <!-- <div ng-repeat="tag in [1,2,3]"class="tag chip blue lighten-5">
						    Iamaprettylonghtag1 -->
			  			<!-- </div> -->
			  			<br/>


			  			<div class="animate-fade-in" ng-show="editMode" class="row">
			               <div id="wysiwyg-editor-questionbody" class="wysiwyg-editor">{{post.content}}</div>
			            </div>

					</div>
				</div>
			<!-- profile card end -->
			</div>

			<!-- question card begin -->

			<div class="col s12 m6">
				<h6>Questions</h6>
				<hr/>
				<div class="card">
					<div class="collection">

				        <a ng-repeat="question in profileQuestions | limitTo: 4" href="#/qa/{{question.id}}" class="collection-item black-text">
				        	<div style="display:table; width:100%;">
					        	<div style="display:table-cell;">
					        		<!-- <p>I am a very long question ... Very very very very very very long ..... Super long .. actually what's our max length here?</p> -->
		                  			<p>{{question.title}}</p>
					        		<div ng-repeat="tag in question.tags"class="tag chip blue lighten-5">
										    {{tag}}
									</div>
					        	</div>
					        	<div style="display:table-cell; width:65px; ">
					        		<span style="font-weight:bold;"class="right yellow-text text-darken-2">{{question.score}}</span>
					        		<!-- <i style="font-size:1.3em;"class="small material-icons orange-text text-darken-2 right ">grade</i> -->
					        	</div>
				        	</div>
				        </a>
				    
				      <div class="collection-item  black-text" ng-if="profileQuestions.length === 0"><p>{{user.first_name}} hasn't answered any questions yet.</p></div>

			       </div>

				</div>
			<!-- question card end -->
			</div>

			<!-- answer card begin -->
			 <div class="col s12 m6">
				<h6>Answers</h6>
				<hr/>
				<div class="card">


					<div class="collection">
				        <a ng-repeat="answer in profileAnswers | limitTo: 4" href="#/qa/{{answer.questionid}}" class="collection-item black-text">
				        	<div style="display:table; width:100%;">
					        	<div style="display:table-cell;">
					        		<p style="margin-bottom:5px;">{{answer.title}}</p>
					        		<div ng-repeat="tag in answer.tags"class="tag chip blue lighten-5">
									    {{tag}}
									</div>
					        	</div>
					        	<div style="display:table-cell; width:65px;">
					        		<span style="font-weight:bold;"class="right yellow-text text-darken-2">{{answer.upvotes}}</span>
					        		<!-- <i style="font-size:1.35em;"class="small material-icons orange-text text-darken-2 right ">grade</i> -->
					        	</div>
				        	</div>
				        </a>
				      </div>

			        <div class="collection-item  black-text" ng-if="profileQuestions.length === 0"><p>{{user.first_name}} hasn't answered any questions yet.</p></div>
				</div>
			<!-- end answer card -->
			</div>

		<!-- end row -->
		</div>
	<!-- end section -->
	</div>

</div>
