<div class="container">
    <div class="section">
        <div class="row">
            <post type="question">
                <comments-section parent="post"></comments-section>
                <!-- fixed footer -->
                <div class="card-action">
                    <a ng-class="{'disabled' : showFooter}" ng-click="toggleFooter()" class="waves-effect waves-light btn blue ">
                        <i class="material-icons">edit</i>
                        <span style="position:relative; bottom:5px;">Answer</span>
                    </a>
                </div>
                <wysiwyg-editor editor-id="{{post.id}}" ng-show="showFooter"></wysiwyg-editor>
            </post>

            <div class="col s12">
                <post type="question">
                    <comments-section parent="post"></comments-section>
                </post>
            </div>
            <div class="col s12">
                <h5 style="font-size:1.3em;font-weight:250;"class="grey-text text-darken-2">{{numAnswers}} Answer<span ng-if="numAnswers !== 1">s</span></h5>
                <hr/>
            </div>

            <div class="col s12" ng-repeat="post in post.answers">
                <post type="answer">
                    <comments-section parent="post"></comments-section>
                </post>
            </div>
            <!-- row end -->
        </div>
        <!-- section end -->
    </div>
    <!-- container end -->
</div>
