<div class="card white">

  <div class="card-content">
    <p class="grey-text">{{post.category}}</p>
    <span style="cursor:pointer;"ui-sref="post({'currPost' : post})" class="card-title">{{post.title}}</span>
     
     <ul style="border:0;"class="collection">
      <li style="min-height:60px;"class="collection-item avatar">
        <img src="http://lorempixel.com/400/200/" alt="" class="circle">
        <span class="title">{{post.author}}</span>
        <p class="grey-text">{{post.views}} Views </p>
        <a href="#!" class="secondary-content orange-text text-accent-2"><i class="material-icons orange-text text-accent-2">grade</i>525</a>
      </li>
    </ul>
    
    <!-- Behave as a table cell for the height to adjust to same as the text column -->
    <div style="display:table-cell; vertical-align:middle; text-align:left;width:40px;">
      <i ng-click="incrementUpvotes(post, 1);" style="cursor:pointer;" class="material-icons red-text text-darken-2">thumb_up</i>
      <p style="padding-left:8px; padding-top:4px; padding-bottom:4px;">{{post.upvotes}}</p>
      <i ng-click="incrementUpvotes(post, -1);" style="cursor:pointer;" class="material-icons red-text text-darken-2">thumb_down</i>
    </div>

    <p style="display:table-cell;">{{post.desc}}</p>
    
  </div>

  <!-- we pass in what we want in the footer -->
  <div ng-transclude>
  </div>

<!-- end card-->
</div>