<div style="padding-top:10px; padding-bottom:10px;"class="card-action">
  <div style="display:table-cell; text-align:left;width:40px;"></div>
  <div style="display:table-cell">

    <p style="font-size:0.9em;">
      <span ng-hide="isAddCommentActive" style="cursor:pointer;" ng-click="toggleAddCommentVisible()" class="blue-text">Add Comment</span>
    </p>

    <div ng-if="isAddCommentActive">

      <div style="float:left; margin-top:5px;">
        <textarea id="textarea" class="comment-input-area" ng-model="$parent.user_comment" placeholder="Make a comment!"> <!--XXX: BEWARE THIS NG-MODEL HACK --->
        </textarea>
      </div>

      <a ng-click="submitComment()" class="waves-effect waves-light btn blue comment-button">Add comment</a>

      <!-- feedback -->
      <p ng-if="!commentLongEnough" class="grey-text darken-1 comment-feedback">Enter {{charactersMissing}} more character<span ng-show="charactersMissing > 1">s</span>.</p>

      <p ng-if="commentLongEnough && !commentTooLong" class="grey-text darken-1 comment-feedback">
      {{charactersRemaining}} character<span ng-show="charactersRemaining !== 1">s</span> left.</p>

      <p ng-if="commentTooLong" class="red-text darken-1 comment-feedback">
      {{extraCharacters}} too many characters.</p>

      <!-- feedback end -->
    </div>
  </div>
  <!-- add comment section end -->
</div>
