<div style="padding-top:10px; padding-bottom:10px;" class="card-action">

  <div style="display:table-cell; text-align:left;width:40px;"></div>

  <div style="display:table-cell;">

    <div style="display:table-cell; float:left;">
      <div style="float:left;">
        <span style="float:left;"class="grey-text text-darken-1">{{comment.upvotes}}</span>
      </div>
      <div style="float:right;padding-left:6px; padding-right:6px;">
        <!-- maybe change later to something like comment.containsLike(userID)?-->
        <div ng-click="toggleLike(comment)" class="comment-icon-wrapper">
          <i ng-class="{'comment-icon-active' : comment.liked}" class="tiny material-icons comment-icon orange-text text-darken-2">thumb_up</i>
        </div>

        <div ng-click="toggleReport(comment)" class="comment-icon-wrapper">
          <i ng-class="{'comment-icon-active' : comment.reported}" class="tiny material-icons comment-icon red-text text-darken-2">report_problem</i>
        </div>
      </div>
    </div>

    <!-- binds what's inside the comment in view -->
    <div style="display:table-cell;">
      <span>{{comment.body}}</span> -- {{comment.author.name}}
    </div>

  </div>
</div>
