<div class="card white">

  <div class="card-content">
    <p class="grey-text">{{question.category}}</p>
    
    <span style="cursor:pointer;" ng-click="goToPost(question)" class="card-title">{{question.title}}</span>

     <ul style="border:0;"class="collection">
      <li style="min-height:60px;"class="collection-item avatar">
        <img src="http://lorempixel.com/400/200/" alt="" class="circle">
        <span class="title">{{question.author.name}}</span>
        <p class="grey-text">{{question.views}} Views </p>
        <a href="#!" class="secondary-content orange-text text-accent-2"><i class="material-icons orange-text text-accent-2">grade</i>{{question.author.karma}}</a>
      </li>
    </ul>

    <!-- Behave as a table cell for the height to adjust to same as the text column -->
    <div style="display:table-cell; vertical-align:middle; text-align:left;width:40px;">
      <i ng-click="incrementUpvotes(question, 1);" style="font-size:1.4em;cursor:pointer;margin-left:2px;" class="material-icons red-text text-darken-2">thumb_up</i>
      <p style="padding-left:8px; padding-top:4px; padding-bottom:4px;">{{question.upvotes}}</p>
      <i ng-click="incrementUpvotes(question, -1);" style="font-size:1.4em;margin-left:2px;cursor:pointer;" class="material-icons red-text text-darken-2">thumb_down</i>
    </div>

    <p style="display:table-cell;">{{question.desc}}</p>

  </div>

  <!-- we pass in what we want in the footer -->
  <div ng-transclude>
  </div>

<!-- end card-->
</div>
