<!-- Dropdown Structure for notifications-->
<ul id="dropdown" class="dropdown-content collection">
    <li ng-repeat = "notification in notifications" class="collection-item">
        <span class="title black-text text-darken-1">{{notification}}</span>
    </li>
</ul>

<!-- Stuff that appears when user starts typing question -->
<div ng-if="showOverlay" id="overlay-container"></div>

<search-popup ng-hide="!user_question"></search-popup>

<!-- hardcoded logo in corner -->
<div ui-sref="home" class="nus-logo">
  <div class="logo-container">
    <img src="icon.svg" class="logo">
  </div>
  <span class="white-text logo-text">NUSAnswers</span>
</div>
<!-- this navbar is a mess, grid system does not seem
     to work here, had to haxx0r hardcode it because couldn't make
     elements float after each other -->
<div style="z-index:998;"class="navbar-fixed">
  <nav class="red darken-2">
    <div class="nav-wrapper container">

      <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>


      <ul class="right hide-on-med-and-down">
        <li>
          <a style="font-size:0.9em;"class="white-text" href="#/profile">
            <i style="line-height:62px;font-size:1.6em;margin-right:5px;" class="material-icons left">person_pin</i>
            Profile
          </a>
        </li>
        <li><a style="font-size:0.9em;" class="dropdown-button white-text" href="#!" data-activates="dropdown" data-beloworigin="true">
          <i style="line-height:60px;font-size:1.6em;margin-right:5px;" class="material-icons left">view_list</i>
          Notifications
          <i style="margin-left:2px;"class="mdi-navigation-arrow-drop-down right"></i>
          </a>
        </li>
      </ul>

      <form class="main-search-field center v-align white" >
        <div id="search-field" class="input-field">
          <input style="padding-left:15px;line-height:30px;" placeholder="Ask or Search" ng-model="user_question" id="search" type="search"required>
          <i id="submit-question-mobile" style="line-height:45px;" ng-click="submitQuestion(user_question)" class="material-icons">chat_bubble_outline</i>
        </div>
      </form>

      <a ng-if="!showOverlay" id="ask-question-button" ng-click="toggleOverlay()" style="height:40px; margin-left:5px;line-height:42px;"class="waves-effect waves-light btn grey lighten-4 black-text v-align no-animate">Ask question</a>
      <a ng-if="showOverlay" id="submit-question-button" ng-click="submitQuestion(user_question)" style="height:40px; margin-left:5px;line-height:42px;"class="waves-effect waves-light btn blue lighten-4 black-text v-align no-animate">Submit</a>

      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/profile">Profile</a></li>
        <!-- this one needs more work
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown" data-beloworigin="true">Notifications<i class="mdi-navigation-arrow-drop-down right"></i></a>
        </li>-->
      </ul>
    </div>
  </nav>
</div>
