<!-- <div href="#!" class="collection-item black-text text-accent-2">
    <h5 style="font-size:1.1em;cursor:pointer;" ng-click="setFeedType('latest')">Latest Questions</h5>
</div> -->



<div class="top-tags collection">
	<a style="width:100%;"ng-click="setFeedType('latest')" ng-class="{'blue' : feedType === 'latest'}"class="black-text lighten-4 white waves-effect waves-light btn-large">
		<i class="material-icons right">swap_horiz</i>Latest
	</a>
	<br/>
</div>

<div class="top-tags collection">
	<a style="width:100%;"ng-click="setFeedType('trending')" ng-class="{'blue' : feedType === 'trending'}" class="black-text lighten-4 white waves-effect waves-light btn-large">
		<i class="material-icons right">swap_horiz</i>Popular
	</a>
	<br/>
</div>

<div class="top-tags collection">
	<div class="collection-item black-text text-accent-2">
	    <h5 style="font-size:1.1em;" ng-click="setFeedType('trending')">Top Tags</h5>
	</div>


	<div class="collection-item black-text text-accent-2">
	    <tag style="cursor:pointer;" ng-click="setFeedType('trending'); toggleTagFilter(tag)"  ng-repeat="tag in trendingTags track by $index" is-filter>
	        <span class="grey-text right"></span> <!--TODO: decide what additional info we wish to include, if any -->
	    </tag>
	</div>
</div>