<!-- shows user profile on add answer -->
<div style="padding:0px;"class="card-action">
    <ul style="border:0;"class="collection">
        <li style="margin-left:5px; min-height:50px; padding-top:5px; padding-bottom:0px;"class="collection-item avatar">
            <img ng-click="goToProfile(currentUser.id)" ng-src="{{profileImg}}" alt="" class="circle" style="cursor:pointer">
            <span ng-click="goToProfile(currentUser.id)" class="title" style="cursor:pointer">{{currentUser.first_name}}</span>
            <p class="grey-text">{{post.author.flavour}}</p>
           <!--  <a class="secondary-content orange-text text-accent-2"><i class="material-icons orange-text text-accent-2">grade</i>{{post.author.score}}</a> -->
        </li>
    </ul>
    <!-- the editor -->
</div>
<div style="padding:0px;" class="card-action">
    <div id="wysiwyg-editor-{{editorId}}" placeholder="What's your answer?" class="wysiwyg-editor"></div>
</div>
<!-- Submit or cancel -->
<div class="card-action">
    <a ng-click="submit(post)" ng-click="toggleFooter()" class="waves-effect waves-light btn blue ">
        <span style="position:relative; padding-right:5px;bottom:5px;">Submit</span>
        <i class="material-icons">send</i>
    </a>
    <span style="margin-left:5px; cursor:pointer;" ng-click="toggleFooter()" class="grey-text">Cancel</span>
</div>
