html,body{ 
  background:#EEEEEE;
  height:100%;
}


/*
@media (min-width:1400px){

  form.main-search-field, search-popup{

    color:blue !important;

  }

}*/

/*
.profile-card{

  padding-left:130px !important;

}*/

@media (max-width:500px){

  form.main-search-field, search-popup{

    width:350px !important;

  }

}

@media (max-width: 750px){

  a.comment-button{
    clear:both;
    margin-left:0px !important;
    float:left !important;

  }

  textarea.comment-input-area{

    width:300px !important;
    
  }

}

.image-upload > input
{
    display: none;
}

.chip{margin:2px;}

form.main-search-field{

  border-radius:5px;
  height:45px; 
  width:450px;

}

i.comment-icon{

  cursor:pointer; 
  visibility: hidden;

}

i.comment-icon-active{

  visibility: visible;

}

div.comment-icon-wrapper:hover > i{

  visibility: visible;

}

textarea.comment-input-area{

  padding:10px;
  resize:vertical;
  width:400px; 
  height:100px;

}

a.comment-button{
  margin-top:5px;
  margin-left:10px;
  font-size:0.8em;
  float:right;
}

p.comment-feedback{

  font-size:0.9em;
  padding-top:5px;
  clear:both;

}

div.comment-input-field{

  position:relative;
  width:400px;
  margin:15px;

}

div.search-result-container{
  cursor:pointer;
  padding:15px;
}

div.search-result-container:hover{

  background:#DFEFFA;

}


div.suggestion-box-info{
  background:#f0f0f0;
  height:40px;
  border-radius: 5px 5px 0px 0px;

}


/* Need media queries for these  */

search-popup{
  position:absolute;
  background:white;
  width:450px;
  z-index:999;  
  border-radius:5px;
  top:80px;
}

search-popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #e0e0e0;
  border-width: 10px;
  margin-left: -10px;
}


#overlay-container{

  position:absolute;
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  z-index:997;
}

/************************/

.input-field input[type=search]:focus {

  border-radius:5px;

}


.dropdown-content{
  background-color: #FFFFFF;
  color:black;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}


.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



