.animate-feed-item.ng-move,
.animate-feed-item.ng-enter,
.animate-feed-item.ng-leave {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.animate-feed-item.ng-leave.ng-leave-active,
.animate-feed-item.ng-move,
.animate-feed-item.ng-enter {
  opacity:0;
}

.animate-feed-item.ng-leave,
.animate-feed-item.ng-move.ng-move-active,
.animate-feed-item.ng-enter.ng-enter-active {
  opacity:1;
}
 
#overlay-container{
  position:absolute;
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  z-index:997;
  transition: all 0.2s;
}

#overlay-container.ng-enter, #overlay-container.ng-leave-active{
  opacity:0;
  
}
#overlay-container.ng-enter-active{
  opacity:1;
}

html,body{ 
  background:#EEEEEE;
  height:100%;
}

html{
  zoom:0.9; /* Please change me */
}

.logo{
  width:25px;
}

div.logo-container{

  padding:2px;
  background:white;
  cursor:pointer; 
  font-size:1.3em; 
  color:white; 
  float:left;
  border-radius:2px;

}

.logo-text{
  line-height:30px; font-weight:200; font-size:1.2em; margin-left:7px;
}

div.nus-logo{

  position:fixed; 
  left:40px; 
  top:16px; 
  z-index:999;
  cursor:pointer !important;

}

nav{
  height:60px !important;
  line-height:61px !important;
}

form.main-search-field{

  border-radius:2px;
  height:40px; 
  width:450px;
  /*width:90%;*/
  float:left;

}

#submit-question-mobile{
  display:none;
}

@media (max-width:1050px){

  #submit-question-button{
    display:none !important;
  }

  #ask-question-button{
    display:none !important;
  }

  #submit-question-mobile{

    display:inline !important;

  }

  /*form.main-search-field{
    margin-left:50px;
  }*/
  
}

@media (max-width:1100px){

  .nus-logo{
    display:none !important;
  }

  /*form.main-search-field{
    margin-left:50px;
  }*/
  
}


@media (max-width:500px){

  form.main-search-field, search-popup{
    width:270px !important;
  }
  
}

@media (max-width: 750px){


  a.comment-button{
    clear:both;
    margin-left:0px !important;
    float:left !important;

  }

  textarea.comment-input-area{

    width:300px !important;
    
  }

}

.btn{

  padding-left:10px;
  padding-right:15px;
  padding-top:0px;
  font-size:0.8em;

}

.trumbowyg-box{

  width:100% !important;
  margin:0px !important;
  background:white;
  min-height:150px !important;
}

.trumbowyg-editor{

  padding-left:20px !important;
  min-height:150px !important;

}


.card-title{font-size:1.4em !important; line-height:45px !important; }

div.tag{

  font-size:0.8em; 
  height:20px; 
  line-height:20px;
  border-radius:3px;
  margin-left:0px;

}

.image-upload > input
{
    display: none;
}

.chip{margin:2px;}




i.comment-icon{

  cursor:pointer; 
  visibility: hidden;

}

i.comment-icon-active{

  visibility: visible;

}

div.comment-icon-wrapper:hover > i{

  visibility: visible;

}

textarea.comment-input-area{

  padding:10px;
  resize:vertical;
  width:400px; 
  height:100px;

}

a.comment-button{
  margin-top:5px;
  margin-left:10px;
  font-size:0.8em;
  float:right;
}

p.comment-feedback{

  font-size:0.9em;
  padding-top:5px;
  clear:both;

}

div.comment-input-field{

  position:relative;
  width:400px;
  margin:15px;

}

div.search-result-container{
  cursor:pointer;
  padding:15px;
}

div.search-result-container:hover{

  background:#DFEFFA;

}


div.suggestion-box-info{
  background:#f0f0f0;
  height:40px;
  border-radius: 5px 5px 0px 0px;

}


/* Need media queries for these  */

search-popup{
  position:absolute;
  background:white;
  width:450px;
  z-index:999;  
  border-radius:5px;
  top:80px;
}

search-popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #e0e0e0;
  border-width: 10px;
  margin-left: -10px;
}


.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

/************************/

.input-field input[type=search]:focus {
  border-radius:5px;
}

.dropdown-content{
  background-color: #FFFFFF;
  color:black;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}


.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



