/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
/*.well[ui-view]{
 height: 65px;
}*/
/*.ui-view-container {
  position: relative;
}*/


input:focus {
  border-bottom: 1px solid #2196f3 !important;
  -webkit-box-shadow: 0 1px 0 0 #2196f3 !important;
  -moz-box-shadow: 0 1px 0 0 #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}


.vote{
  transition: all .1s ease-in;
}

 .upvoteSelected{
    color:#4caf50 !important;
}

.downvoteSelected{
  color:#d32f2f !important;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .4s ease-in-out;
  -moz-transition:all .4s ease-in-out;
  -o-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */


/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width:130px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  font-weight:200;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}


.animate-fade-in.ng-move,
.animate-fade-in.ng-enter,
.animate-fade-in.ng-leave {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.animate-fade-in.ng-leave.ng-leave-active,
.animate-fade-in.ng-move,
.animate-fade-in.ng-enter {
  opacity:0;
}

.animate-fade-in.ng-leave,
.animate-fade-in.ng-move.ng-move-active,
.animate-fade-in.ng-enter.ng-enter-active {
  opacity:1;
}

.loading-container{
  width:100%;
  height:100%;
  background:#D32F2F;
  position:fixed;
  z-index:999;
}

input[type="text"] {
    -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    box-sizing: border-box;         // Opera/IE 8+
}

#overlay-container{
  position:absolute;
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  z-index:997;
  transition: opacity 0.2s;
}

#overlay-container.ng-enter, #overlay-container.ng-leave-active{
  opacity:0;

}
#overlay-container.ng-enter-active{
  opacity:1;
}

html,body{
  background:#EEEEEE;
  /*height:100%;*/
}

html{
  zoom:0.9;
}

.logo{
  width:25px;
}

div.logo-container{

  padding:2px;
  background:white;
  cursor:pointer;
  font-size:1.3em;
  color:white;
  float:left;
  border-radius:2px;
}

.logo-text{
  line-height:30px; font-weight:200; font-size:1.2em; margin-left:7px;
}

div.nus-logo{
  position:fixed;
  left:20px;
  top:16px;
  z-index:1000;
  cursor:pointer !important;
}

nav{
  height:60px !important;
  line-height:61px !important;
}

form.main-search-field{

  border-radius:2px;
  height:40px;
  width:450px;
  /*width:90%;*/
  float:left;

}

#submit-question-mobile{
  display:none;
}

@media (max-width:1050px){

  #submit-question-button{
    display:none !important;
  }

  #ask-question-button{
    display:none !important;
  }

  #submit-question-mobile{

    display:inline !important;

  }

  /*form.main-search-field{
    margin-left:50px;
  }*/

}

@media (max-width:1100px){

  .nus-logo{
    display:none !important;
  }

  /*form.main-search-field{
    margin-left:50px;
  }*/

}


@media (max-width:500px){

  form.main-search-field, search-popup{
    width:270px !important;
  }

}

@media (max-width: 750px){


  a.comment-button{
    clear:both;
    margin-left:0px !important;
    float:left !important;

  }

  textarea.comment-input-area{

    width:300px !important;

  }

}

.btn{

  padding-left:10px;
  padding-right:15px;
  padding-top:0px;
  font-size:0.8em;

}

.trumbowyg-box{

  width:100% !important;
  margin:0px !important;
  background:white;
  min-height:150px !important;
}

.trumbowyg-editor{

  padding-left:20px !important;
  min-height:150px !important;

}

.custom-toast{
    background:#66bb6a;
    color:white;
}

.error-toast{
    background:#d32f2f;
    color:white;
}

.success-toast{
    background:#66bb6a;
    color:white
}

.information-toast{
    background:#2196f3;
    color:white;
}

.card-title{font-size:1.5em !important; font-weight:400 !important;line-height:45px !important; }
.no-underline{text-decoration: none !important;  }
.card-title:hover{text-decoration: underline;}

div.tag{

  font-size:0.8em;
  height:20px;
  line-height:20px;
  border-radius:3px;
  margin-left:0px;

}

.image-upload > input
{
    display: none;
}

.chip{margin:2px;}




i.comment-icon{

  cursor:pointer;
  visibility: hidden;

}

i.comment-icon-active{

  visibility: visible;

}

div.comment-icon-wrapper:hover > i{

  visibility: visible;

}

textarea.comment-input-area{

  padding:10px;
  resize:vertical;
  width:400px;
  height:100px;

}

a.comment-button{
  margin-top:5px;
  margin-left:10px;
  font-size:0.8em;
  float:right;
}

p.comment-feedback{

  font-size:0.9em;
  padding-top:5px;
  clear:both;

}

div.comment-input-field{

  position:relative;
  width:400px;
  margin:15px;

}

div.search-result-container{
  cursor:pointer;
  padding:15px;
}

div.search-result-container:hover{

  background:#DFEFFA;

}


div.suggestion-box-info{
  background:#f0f0f0;
  height:40px;
  border-radius: 5px 5px 0px 0px;

}

/* Need media queries for these  */

search-popup{
  position:absolute;
  background:white;
  width:450px;
  z-index:999;
  border-radius:2px;
  top:80px;
  transition: all 0.2s;
}

search-popup.ng-enter, search-popup.ng-leave-active{
  top:100px;
  opacity:0;
}

search-popup.ng-enter-active{
  top:80px;
  opacity:1;
}
/*
.animate-search-popup.ng-enter,
.animate-search-popup.ng-leave {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}*/
/*
.animate-search-popup.ng-leave.ng-leave-active,
.animate-search-popup.ng-enter {
  opacity:0;
  top:100px;
}

.animate-search-popup.ng-leave,

.animate-search-popup.ng-enter.ng-enter-active {
  opacity:1;
  top:80px;
}*/

#overlay-container.ng-enter, #overlay-container.ng-leave-active{
  opacity:0;

}
#overlay-container.ng-enter-active{
  opacity:1;
}

search-popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #e0e0e0;
  border-width: 10px;
  margin-left: -10px;
}

search-popup.fake-white:after{
  border-bottom-color: white !important;
}

search-popup.fake-yellow:after{
  border-bottom-color: #fff59d !important;
}


.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

/************************/

.input-field input[type=search]:focus {
  border-radius:5px;
}

.dropdown-content{
  background-color: #FFFFFF;
  color:black;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-fb-login {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNGU4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #334e87));
  background-image: -moz-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: -webkit-linear-gradient(top, #486bb5 0%, #334e87 100%);
  background-image: linear-gradient(to bottom, #486bb5 0%, #334e87 100%);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.btn-fb-login:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzM2I2YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #233b6c));
  background-image: -moz-linear-gradient(top, #486bb5 0%, #233b6c 100%);
  background-image: -webkit-linear-gradient(top, #486bb5 0%, #233b6c 100%);
  background-image: linear-gradient(to bottom, #486bb5 0%, #233b6c 100%);
}
.btn-fb-login .icon {
  background: url(http://s.cdpn.io/6035/fb_login_sprite.png) no-repeat;
  width: 11px;
  height: 22px;
  display: inline-block;
  float: left;
  margin: 3px 10px;
}

.btn-fb-login .title {
  font-size: 0.8125em;
  color: #fff;
  line-height: 28px;
  float: left;
  padding: 0 10px;
/*  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);*/
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
